body, html {
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	font-family: 'Cutive Mono', monospace;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	line-height: 1.5rem;
	overflow-x: hidden;
	overflow-y: auto;
}

body p, body h1, body a {
	margin: 0;
	padding: 0;
}

#component-wrapper {
	margin: 0;
	padding: 0;
}

#front-page-head {
	position: relative;
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
	background-image: url("/res/bbbbb.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background: linear-gradient(135deg,#11ffe8,#8068FF 54%,#d829d8) 50% no-repeat;
}

#nav-bar {
	background: transparent;
	overflow: hidden;
	height: 48px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: .87rem;
	letter-spacing: 0;
	overflow-y: visible;
}

#nav-bar ul {
	background: transparent;
	padding: 0;
	margin: 0;
	height: 48px;
}

#nav-bar ul li {
	display: inline-block;
	height: 48px;
	background: transparent;
	margin-right: 8px;
}

#nav-bar .nav-wrap {
	position: relative;
	background: transparent;
	float: right;
	height: 48px;
}

#nav-bar .nav-wrap li a {
	display: block;
	text-decoration: none;
	color: #fff;
	background: transparent;
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
	line-height: 48px;
}

#nav-bar .nav-wrap li a:hover {
	color: #cecece;
}

#nav-bar .nav-logo {
	position: relative;
	float: left;
}


#nav-bar .nav-logo .nav-logo-img {
	position: relative;
	float: left;
	height: 32px;
	margin-top: 8px;
}


#nav-bar .nav-logo .nav-logo-text {
	color: #fff;
	position: relative;
	float: right;
	margin: 0;
	margin-top: 12px;
	margin-left: 8px;
	margin-right: 24px;
}

#nav-bar .nav-right {
	position: relative;
	float: right;
}

#nav-bar .nav-right ul {
	float: right;
}

#nav-bar .nav-right .nav-search-button {
	margin-top: 12px;
	float: left;
	margin-right: 16px;
}

#nav-bar .nav-right .nav-search-button:hover {
	cursor: pointer;
	cursor: hand;
}

#nav-bar .nav-right .nav-search-button img {
	height: 24px;
}

#nav-bar .nav-right .nav-account-button {
	padding: 2px 12px 2px 12px;
	border: solid #fff 1px;
	float: right;
	margin-top: 9px;
}

#nav-bar .nav-right .nav-account-button a {
	display: block;
	text-decoration: none;
	background: transparent;
	color: #fff;
	font-size: 0.77rem;
}

#nav-bar .nav-right .nav-account-button a:hover {
	background: transparent;
	color: #cecece;
}

#masthead {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	clear: both;
	letter-spacing: 0;
	top: 0;
	height: calc(100vh - 48px - 4.5rem);
}

#closing-masthead {
	color: #fff;
	background: transparent;
	text-align: right;
	padding-right: 1.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}

#closing-masthead .closing-masthead-link {
	color: #bababa;
	text-decoration: none;
	font-size: 1rem;
}

#mastwrapper {
	position: relative;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	vertical-align: middle;
	padding-bottom: 48px;
}

#masthead .masthead-nameplate {
	color: #fff;
	opacity: 0.7;
	margin-bottom: 0.5rem;
	font-weight: 800;
	font-size: 1.4rem;
}

#masthead .masthead-statement {
	color: #fff;
	margin-top: 0.5rem;
	font-weight: 400;
	font-size: 1.4rem;
	margin-bottom: 0.5rem;
}

#masthead h1 {
	color: #fff;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	font-weight: 600;
	font-size: 3.4rem;
	line-height: 3rem;
}

#content {
	position: relative;
	width: 100%;
}

.relative-content-container {
	position: relative;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 0;
	overflow: visible;
}

#content .main-content {
	position: relative;
	z-index: 2;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

#content .white-style-content {
	background-color: #fff;
	min-height: 22rem;
	color: #000;
	overflow: auto;
	overflow-x: hidden;
}

#content .orange-style-content {
	background-color: #2b9fff;
	min-height: 22rem;
	color: #fff;
	overflow: auto;
	overflow-x: hidden;
}

#content .orange-style-content .bg-text-content {
	position: absolute;
	font-size: 11rem;
	font-weight: 600;
	top: 6rem;
	left: 5rem;
	color: #11ffe8;
}

#content .white-style-content .bg-text-content {
	position: absolute;
	font-size: 11rem;
	font-weight: 600;
	top: 6rem;
	left: 5rem;
	color: #cecece;
}

#content .bg-text-container {
	display: block;
	position: relative;
	z-index: 1;
	overflow: visible;
}

.page-scale-div {
	position: relative;
	width: calc(100%-16px);
	margin: 0;
	padding: 0;
	padding-left: 8px;
	padding-right: 8px;
	overflow: auto;
}

.content-scale-div {
	position: relative;
	width: 88%;
	margin: 0;
	padding: 0;
	padding-left: 6%;
	padding-right: 6%;
	overflow: auto;
}

#menuToggle
{
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #fff;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: calc(100vw - 100px);
  height: 100vh;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -50px;
  
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  transform: translate(-8px, -48px);
  padding: 4px 0;
  font-size: 1.4rem;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}

#menu a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menu a:hover
{
  color: tomato;
}

.nav-logo-img-mobile {
	position: absolute;
	top: 33px;
	left: 35px;
	width: 50px;
	height: 50px;
}

.nav-logo-img-mobile-menu {
	position: relative;
	margin: 0;
	padding: 0;
	transform: translate(-16px, -70px);
	width: 50px;
	height: 50px;
}

@media only screen and (max-height: 500px) {
	#mastwrapper {
		padding-top: 64px;
		font-size: 10px;
	}
	#masthead {
		padding-top: 48px;
		height: calc(100vh - 48px - 4.5rem);
	}
	#masthead .masthead-livetype, #masthead .masthead-bigtype {
		display: none;
	}
	#masthead .masthead-nameplate {
		opacity: 1;
		font-size: 2.4rem;
		line-height: 2.5rem;
	}
}

@media only screen and (max-height: 400px) {
	#mastwrapper {
		padding-top: 128px;
		font-size: 10px;
	}
	#closing-masthead {
		display: none;
	}
	#menu li {
		font-size: 1rem;
		line-height: 1.1rem;
	}
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
	#menuToggle span, #menuToggle input {
		display: block;
	}
	#nav-bar {
		display: none;
	}
	#masthead {
		padding-top: 48px;
		height: calc(100vh - 48px - 4.5rem);
	}
	#masthead .masthead-livetype, #masthead .masthead-bigtype {
		display: none;
	}
	#masthead .masthead-nameplate {
		opacity: 1;
		font-size: 2.4rem;
		line-height: 2.5rem;
	}
}

@media only screen and (min-width: 769px) {
    #menuToggle {
		display: none;
	}
	#menu {
		display: none;
	}
	#menuToggle span, #menuToggle input {
		display: none;
	}
	.nav-logo-img-mobile {
		display: none;
	}
	#masthead {
		padding-top: 0;
		height: calc(100vh - 48px - 4.5rem);
	}
}